* {
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	overflow-x: hidden;
}

.container-full {
	width: 100%;

}

/*返回顶部*/
.scrollTop {
	height: 40px;
	line-height: 40px;
	width: 40px;
	font-family: "宋体", serif;
	font-weight: bolder;
	font-size: large;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	transform: rotate(270deg);
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	display: block;
	border-radius: 4px;
}

.scrollTop:hover {
	background: rgba(255, 102, 0, 0.32);
}
	
.error{
	color: #BF0910;
}

/* 展示详情弹框 */
.des_show{
	margin-top: 20px;
}
.des_show span {
	display: block;
	margin: 7px 0;
}